.button{
    width: 100px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    border-color: blue;
    border-radius: 6px;
    color: blue;
    background-color: transparent;
}

.button:hover{
    color: white;
    background-color: blue;
}